.kanban-input-dropdown{
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border-width: 1px;
    border-color: #55555556;
    background-color: #23232d;
    color: #fff;
    border-style: solid;
    border-radius: 0px;
}

.select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
}    

.select select {
        font-family: 'Arial';
        display: inline-block;
        width: 100%;
        cursor: pointer;
        padding: 10px 15px;
        outline: 0;
        border: 1px solid #616161;
        border-radius: 0px;
        background-color: #23232d;
        color: #7b7b7b;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
.select select::-ms-expand {
    display: none;
}
.select select:hover,
.select select:focus {
    color: white;
    background: #1d1d25;
}
.select select:disabled {
    opacity: 0.5;
    pointer-events: none;
}
.select_arrow {
    position: absolute;
    top: 16px;
    right: 15px;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0px 5px;
    border-color: #64389a transparent transparent transparent;
}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
    border-top-color: #9a20b8;
}
.select select:disabled ~ .select_arrow {
    border-top-color: #cccccc;
}

:host{
    width: 100%;
}