<form [formGroup]="newBoardForm" class="dialog-form">

    <div mat-dialog-title>
        <app-task-card-title [taskTitle]="'New Board'"></app-task-card-title>
    </div>
    <mat-dialog-content>

        <div class="form-container">
            <div class="input-container">
                <app-task-card-title [taskTitle]="'Board Title'"></app-task-card-title>
                <app-input [control]="newBoardForm.controls['boardTitle']"></app-input>
            </div>
            <div class="input-container">
                <app-main-button [displayText]="'Create Board'" (buttonPressedEvent)="onSubmit()"></app-main-button>
            </div>
        </div>

    </mat-dialog-content>
  </form>