.dot {
    height: 13px;
    width: 13px;
    border-radius: 50%;
    display: inline-block;
    background-color: #e5dd93;
  }

  .todo{
    background-color: #7edce9;

  }

  .doing{
    background-color: #612186;

  }

  .done{
    background-color: #40c582;

  }